{% extends 'UpkeepAppBundle:Client:layout.html.twig' %}

{% block content %}
    <h1> hello !</h1>

    <div>
        <h2>FTP - X connection(s)</h2>
        <h4>No domain :</h4>
        <ul>
            <li></li>
        </ul>
        <ul>
            <li>#USER# - /</li>
            <li>#USER# - #DOMAIN# - /</li>
        </ul>
    </div>
{% endblock %}
